<launch>
  <!-- Turtlebot3 -->
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch" />

  <!-- Gmapping -->
  <node pkg="gmapping" type="slam_gmapping" name="turtlebot3_slam_gmapping" output="screen">   
    <param name="base_frame" value="base_footprint"/>       机器人的基本框架
    <param name="odom_frame" value="odom"/>									测位框架
    <param name="map_update_interval" value="2.0"/>					地图更新时间间隔，单位sec
    <param name="maxUrange" value="4.0"/>										使用激光头的最大范围 ，单位m
    <param name="minimumScore" value="100"/>								考虑到扫描匹配结果的最低分数
    <param name="linearUpdate" value="0.2"/>								处理所需的最小移动距离，单位m
    <param name="angularUpdate" value="0.2"/>								处理所需的最小旋转角度，单位度
    <param name="temporalUpdate" value="0.5"/>							如果从最后一次扫描时刻开始超过了此更新时间，则执行扫描。如果该值小于0，则不使用它
    <param name="delta" value="0.05"/>											地图分辨率，单位：距离m/像素
    <param name="lskip" value="0"/>													在每次扫描过程中跳过的光束数量
    <param name="particles" value="120"/>										粒子滤波器中的粒子数
    <param name="sigma" value="0.05"/>											激光辅助搜索的标准偏差
    <param name="kernelSize" value="1"/>										激光辅助搜索的窗口大小
    <param name="lstep" value="0.05"/>											初始搜索步骤（平移）
    <param name="astep" value="0.05"/>											初始搜索步骤（旋转）
    <param name="iterations" value="5"/>										扫描匹配迭代次数
    <param name="lsigma" value="0.075"/>										光束似然估计的标准差
    <param name="ogain" value="3.0"/>												似然估计扁平增益
    <param name="srr" value="0.01"/>												平移-移动的测位误差
    <param name="srt" value="0.02"/>												平移-旋转的测位误差
    <param name="str" value="0.01"/>												旋转-平移的测位误差
    <param name="stt" value="0.02"/>												旋转-旋转的测位误差
    <param name="resampleThreshold" value="0.5"/>						重新采样阈值
    <param name="xmin" value="-10.0"/>											初始地图大小，x的最小值m
    <param name="ymin" value="-10.0"/>											初始地图大小，y的最小值m
    <param name="xmax" value="10.0"/>												初始地图大小，x的最大值m
    <param name="ymax" value="10.0"/>												初始地图大小，y的最大值m
    <param name="llsamplerange" value="0.01"/>							似然估计的范围（平移）
    <param name="llsamplestep" value="0.01"/>								似然估计的步幅（平移）
    <param name="lasamplerange" value="0.005"/>							似然估计的范围（旋转）
    <param name="lasamplestep" value="0.005"/>							似然估计的范围（旋转）
  </node>
</launch>
